* {
  box-sizing: border-box;
}

#root {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: column;
  gap: 40px;
}

.header {
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.spendings-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}