* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#money {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid gray;
}

#money:focus-visible {
  outline: none;
  border: 1px solid green;
}

.header {
  text-align: center;
  padding-top: 30px;
}

.header-income-wrapper {
  margin-bottom: 20px;
  background-color: rgba(0, 128, 0, 0.8);
  font-weight: 550;
  border-radius: 10px;
}

.header-expenses-wrapper {
  font-weight: 550;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 10px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #393939;
  padding: 25px;
}

.spendings-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
}

.spending-details {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.input-base {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 0px 10px;
  transition: border 0.3s ease;
}

.input-base:focus-visible {
  outline: none;
  border-color: green;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: transparent;
}

.history-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 9.6px 5px 9.6px 10px;
  background-color: field;
}

.border-bottom {
  border-bottom: 1px solid whitesmoke;
}

.center-text {
  text-align: center;
}

.padding-bottom {
  padding-bottom: 20px;
}

.color-green {
  color: #008000;
}

.color-red {
  color: red;
}
